@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi página</h1>
</div>
 <hr />
<br/>
<br/>
<div  size="5" width="50%" align="center">
    <p>Use las opciones de la barra superior para seleccionar la opción a realizar</p>
</div>
